.main-wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
}

.pokemon{
    height: 100%;
    width: 30%;
    border-right: thick solid black;
    overflow: auto;
}

.info{
    height: 100%;
    width: 70%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column
}

.info1{
    height: 100%;
    width: 70%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-image: url('./poke-background.png');
    background-size: cover;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.ball2{
    padding-top: 5px;
    height: 150px;
    animation: App-logo-spin infinite 2s linear;
}

.who-dat{
    height: 250px;
}




.pokemon-header{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border-bottom: thick solid black;
}

.poke-name{
    font-size: 20px;
    text-align: center;
    border: .5px solid black;
}

.content-wrapper{
    display: flex
}
.stats-wrapper{
    height: 325px;
    width: 300px;
}
.stats{
    font-size: 20px;
}

.stat-li{
    font-size: 20px;
    word-spacing: 100px;
}



.pokemon-img{
    height: 275px;
    padding-bottom: 100px;
}

.detailed-name{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    border-bottom: thin solid black
}

.btn-pokemon{
    text-align: center;
	display: inline-block;
	margin:5px;
    width: 175px;
    padding: 10px 10px 10px 10px ;
    background-color: lightgray;
    color: gray;
    text-shadow: -1px -1px black, 1px 1px white;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

